@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
}

.header {
  height: 100vh;
}

.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

@media (min-aspect-ration: 16/9) {
  .video-background {
    width: auto;
    height: auto;
  }
}

@media (max-aspect-ration: 16/9) {
  .video-background {
    width: auto;
    height: 100%;
  }
}

.welcome-msg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  
}

.welcome-msg h1 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 30px;
}

.highlight {
  color: red;
}

.btn {
  position: absolute;
  top: 55%;
  text-decoration: none;
  border: 2px solid white;
  color: white;
  padding: 20px;
  background: transparent;
  cursor: pointer;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  width: 250px;
  
  
}

.btn:hover {
  border: 2px solid;
  color: white;
  background: rgba(200, 200, 193, 0.335);
  transition: 1s;
  opacity: 0.5;
}

ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b242f;
  
}

li {
  display: inline-block;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: red;
}

.active {
  background-color: red;
}

.navbar {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
}

.flex-container1{
  
  display: flex;
  background-color: #ffffff;
  height: 250px;
  
  justify-content:center;
  align-items: center;
  height: 100%;
  text-decoration: underline;
}

.flex-container1 > div{
  display: flex;
  background-color: #f1f1f1;
  font-size: 3rem;
  padding: 30px;

  
}

.flex-container2{
  display: flex;
  justify-content:center;
  justify-content: space-between;
  text-align: center;
  
}

.flex-container2 > li{
  width: 10%;
 
  
}

.flex-container3{
  display: flex;
  justify-content:center;
  height: 250px;
  
}

.flex-container3 > div{
  font-size: 3rem;
  text-decoration: underline;
}