@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather+Sans:wght@300&family=Playfair+Display&family=Raleway:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  /* font-family: "Merriweather Sans", sans-serif; */
  font-family: 'Raleway', sans-serif;
}

.header {
  height: 100vh;
}

.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

@media (min-aspect-ration: 16/9) {
  .video-background {
    width: auto;
    height: auto;
  }
}

@media (max-aspect-ration: 16/9) {
  .video-background {
    width: auto;
    height: 100%;
  }
}

.welcome-msg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.welcome-msg h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  
}

.highlight {
  color:tomato
}

.btn {
  position: absolute;
  top: 55%;
  text-decoration: none;
  border: 2px solid white;
  color: white;
  padding: 20px;
  background: transparent;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  width: 250px;
}

.btn:hover {
  border: 1px solid;
  color: rgba(255, 255, 255, 0.602);
  background: rgba(200, 200, 193, 0.335);
  transition: 1s;
  opacity: 0.5;
}

ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b242f;
}

li {
  display: inline-block;
  text-align: center;
}

li a {
  margin-left: 50px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: tomato;
}

.active {
  background-color: tomato;
}

.navbar {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
}

.flex-container1 {
  display: flex;
  height: 250px;
  justify-content: center;
  
  
}

.flex-container1 > div {
  height: 250px;
  display: flex;
  font-size: 3rem;
  text-decoration: underline;
  
}

.flex-container2 {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
}

.flex-container2 > li {
  width: 20%;
  
}

.flex-container2 > img {
  width: 300px;
}

.flex-container3 {
  display: flex;
  justify-content: center;
  height: 250px;
  background-color: #f5f5f5;
}

.flex-container3 > div {
  height: 250px;
  font-size: 3rem;
  text-decoration: underline;
}

.flex-container4 {
  display: flex;
  justify-content: center;
  height: 250px;
  background-color: #252934;
}

.flex-container4 > div {
  font-size: 3rem;
  height: 250px;
  color: white;
}

.flex-container5 {
  display: flex;
  justify-content: center;
  background-color: #252934;
}

.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
}
.fa-facebook {
  background: #3b589811;
  color: white;
}
.fa-twitter {
  background: #3b589811;
  color: white;
  
}
.fa-pinterest {
  background: #3b589811;
  color: white;
}
.fa-linkedin {
  background: #3b589811;
  color: white;
}
.fa-instagram {
  background: #3b589811;
  color: white;
}
.fa-youtube {
  background: #3b589811;
  color: white;
}
.fa-google {
  background: #3b589811;
  color: white;
}
.fa-snapchat-ghost {
  background: #3b589811;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-skype {
  background: #3b589811;
  color: white;
}
.fa:hover {
  background-color: rgba(255, 255, 255, 0.219);
  opacity: 0.9;
}
